# SPDX-FileCopyrightText: 2026 Dennis Klein
# SPDX-License-Identifier: GPL-3.0-or-later
hostkeys/
cli-profile.json
cli_key
cli_key.pub
keys/debug_client_key
keys/debug_client_key.pub
keys/debug_authorized_keys
keys/acceptance_authorized_keys
